# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.env

NetBank/.vs
NetBank/NetBank.Api/obj
NetBank/NetBank.Api/bin
NetBank/NetBank.Core/obj
NetBank/NetBank.Core/bin
NetBank/NetBank.External/obj
NetBank/NetBank.External/bin
NetBank/NetBank.Persistence/obj
NetBank/NetBank.Persistence/bin
